<div class="card">
  <div class="header">
    <h1>⚡ Speed Trainer</h1>

    <div class="header-buttons">
      <button>⚙</button>
    </div>
  </div>

  <div class="stats">
    <span>
      ✔ <b>{{ sessionService.session().correctCount }}</b>
    </span>

    <span>
      ✖ <b>{{ sessionService.session().wrongCount }}</b>
    </span>

    <span>
      🔥 <b>{{ sessionService.currentStreak() }}</b>
    </span>

    <span>
      🎯

      <b>{{ sessionService.accuracy() }}%</b>
    </span>
  </div>

  <div class="statusBar">
    @switch (settingsService.settings().sessionType) {
      @case (SessionType.Practice) {
        <span>Practice</span>
      }

      @case (SessionType.Countdown) {
        <span>Countdown</span>
      }

      @case (SessionType.QuestionChallenge) {
        <span>Question Challenge</span>
      }
    }
  </div>

  <hr />

  @if (questionService.currentQuestion()) {
    <div class="question">
      {{ questionService.currentQuestion()?.question }}
    </div>

    <div class="answerContainer">
      <input
        [(ngModel)]="answer"
        readonly
        autocomplete="off"
        [class]="inputState"
      />

      <button type="button" (click)="backspace()">⌫</button>
    </div>

    <div class="feedbackLabel">
      {{ feedback }}
    </div>

    <app-keyboard (keyPressed)="onKeyPressed($event)"> </app-keyboard>
  }
</div>
