<div class="card">
  <h1>Speed Trainer</h1>

  <div class="stats">
    <span>✔ {{ sessionService.session().correctCount }}</span>

    <span>✖ {{ sessionService.session().wrongCount }}</span>

    <span>🔥 {{ sessionService.session().bestStreak }}</span>
  </div>

  @if (!questionService.currentQuestion()) {
    <button class="secondary" (click)="openSettings()">
      ⚙ Practice Settings
    </button>

    <button class="primary" (click)="start()">▶ Start Practice</button>
  } @else {
    <div class="question">
      {{ questionService.currentQuestion()?.question }}
    </div>

    <input
      [(ngModel)]="answer"
      (keyup.enter)="submit()"
      [class.correct]="inputState === 'correct'"
      [class.wrong]="inputState === 'wrong'"
      autocomplete="off"
      autofocus
    />
  }
</div>
