<div class="section">
  <app-session-type-selector
    [selected]="stateService.practice().sessionType"
    (selectedChange)="onSessionTypeChange($event)"
  >
  </app-session-type-selector>

  <div class="session-description">
    <span
      class="icon"
      [class.practice-icon]="
        stateService.practice().sessionType === SessionType.Practice
      "
      [class.countdown-icon]="
        stateService.practice().sessionType === SessionType.Countdown
      "
      [class.challenge-icon]="
        stateService.practice().sessionType === SessionType.QuestionChallenge
      "
    >
      <i [class]="selectedSessionInfo().icon"></i>
    </span>

    <div class="description-content">
      <strong>
        {{ selectedSessionInfo().title }}
      </strong>

      <p>
        {{ selectedSessionInfo().description }}
      </p>
    </div>
  </div>
</div>
