<div class="page-header">
  <h1>App Settings</h1>
</div>

<div class="settings-section">
  <h3>Appearance</h3>

  <div class="setting">
    <label>Theme</label>

    <div class="theme-selector">
      <button
        type="button"
        class="theme-option light-option"
        [class.active]="themeService.theme() === Theme.Light"
        (click)="setTheme(Theme.Light)"
      >
        <i
          [class]="
            themeService.theme() === Theme.Light
              ? 'ph-fill ph-sun'
              : 'ph ph-sun'
          "
        ></i>

        <span>Light</span>
      </button>

      <button
        type="button"
        class="theme-option dark-option"
        [class.active]="themeService.theme() === Theme.Dark"
        (click)="setTheme(Theme.Dark)"
      >
        <i
          [class]="
            themeService.theme() === Theme.Dark
              ? 'ph-fill ph-moon'
              : 'ph ph-moon'
          "
        ></i>

        <span>Dark</span>
      </button>
    </div>
  </div>
</div>

<div class="settings-section">
  <h3>Practice</h3>

  <div class="setting">
    <label>Sound</label>

    <div class="sound-selector">
      <button
        type="button"
        class="sound-option sound-on-option"
        [class.active]="appSettingsService.settings().sound"
        (click)="appSettingsService.setSound(true)"
      >
        <i
          [class]="
            appSettingsService.settings().sound
              ? 'ph-fill ph-speaker-high'
              : 'ph ph-speaker-high'
          "
        ></i>

        <span>On</span>
      </button>

      <button
        type="button"
        class="sound-option sound-off-option"
        [class.active]="!appSettingsService.settings().sound"
        (click)="appSettingsService.setSound(false)"
      >
        <i
          [class]="
            !appSettingsService.settings().sound
              ? 'ph-fill ph-speaker-slash'
              : 'ph ph-speaker-slash'
          "
        ></i>

        <span>Off</span>
      </button>
    </div>
  </div>
</div>

<div class="settings-section">
  <h3>Data Management</h3>

  <button type="button" class="danger-btn" (click)="clearAllBookmarks()">
    <i class="ph ph-trash"></i>
    Clear All Bookmarks
  </button>
</div>
